.main{
    background-color: lightblue;
    border-radius: 999px;
    height: 90px;
    width: 90px;
    position: absolute;
}

.zeiger{
    background-color: black;
    height: 40px;
    width: 5px;
    position: absolute;
    left: 50%;
    margin-top: 5px;
    transform: translate(-50%, 0%);
}

.rotating {
    animation: rotate 1s infinite;
 }
 
 @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
 }
