.main{
    background-color: lightblue;
    border-radius: 999px;
    height: 90px;
    width: 90px;
    position: absolute;
}

.zeiger{
    background-color: black;
    height: 40px;
    width: 3px;
    position: absolute;
    left: 50%;
    margin-top: 5px;
    transform: translate(-50%, 0%);
    transform: rotate(30deg);
    transform-origin: bottom;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

